[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
busylight-for-humans = "*"
msal = "*"
requests = "*"
jsons = "*"
notify-py = "*"

[dev-packages]
autopep8 = "*"
rope = "*"

[requires]
python_version = "3.9"
